html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  max-width: 1196px;
  margin: 0 auto;
}

/* Buttons */
.button {
  border: 1px solid transparent;

  padding: 13px 52px;

  background-color: #F47322;
  border-radius: 55px;

  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  color: #FFFFFF;

  cursor: pointer;

  transition: all 0.3s;
}

.button:hover {
  color: #FFA871;
  border-color: #FFA871;
  background-color: white;
}

.button--gray {
  color: #5F5F61;
  background-color: white;
}

.button--gray:hover {
  border-color:#5F5F61;
  color: #5F5F61;
}

.button-outline {
  padding: 16px 25px;
  border: 2px solid #F37321;
  border-radius: 33px;
  background-color: transparent;

  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #F37321;

  cursor: pointer;
  transition: all 0.3s;
}
.button-outline:hover {
  color: #FFFFFF;
  background: #FFA871;
  border-color: #FFA871;
}


.header {
  padding-top: 13px;
  display: flex;
  align-items: center;
}

.logo {
  text-decoration: none;
  min-width: 128px;
}

.logo::after {
  content: "";
  display: block;
  clear: both;
}

.logo__image {
  float: left;
  margin-right: 5px;
}

.logo__text {
  display: block;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;

  padding-top: 8px;
}

.search-form {
  min-width: 620px;

  margin-left: 76px;
  padding: 13px 0 13px 20px;
  
  display: flex;
  align-items: center;
  
  background: rgba(238, 238, 238, 0.71);
  border-radius: 10px;
}
.search-form__input {
  padding: 0;
  width: 100%;

  border: none;
  background-color: transparent;

  font-size: 16px;
  line-height: 23px;
  color: #57565B;
}
.search-form__button {
  border: none;
  background-color: transparent;
  margin-left: auto;
  padding: 0 13px 0 8px;
  
  cursor: pointer;
}
.search-form__button-icon {
  display: block;
}


.header__right {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.header__cart {
  margin-left: 31px;
}

.auth-button {
  padding: 16px 30px;
  background: #EBEBEB;
  border-radius: 50px;

  font-size: 14px;
  line-height: 16px;

  color: #000000;
}

.cart {
  text-decoration: none;

  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #F66A15 url("../img/shopping-cart.svg") no-repeat center;
}
.cart__counter {
  display: block;
  position: absolute;

  right: 0;
  bottom: -4px;

  background: #FFAF19;
  border-radius: 50%;

  padding: 5px;

  font-size: 8px;
  line-height: 8px;

  color: #000000;
}


.slider {
  margin-top: 20px;
  position: relative;
  border-radius: 20px;
}

.slider__buttons {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  padding-right: 3.89%;
  padding-bottom: 3.34%; 
}

.slider__button {
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  border-radius: 50%;

  cursor: pointer;

  background: rgba(235,235,235, 0.7) url("../img/angle_left.svg") no-repeat center;
}
.slider__button--right {
  margin-left: 17px;
  background-image: url("../img/angle_right.svg");
}

.slide__content {
  max-width: 400px;
  padding: 76px 101px 76px 101px;
}

.slide__title {
  font-weight: bold;
  font-size: 50px;
  line-height: 51px;
  margin: 0;

  color: #FFFFFF;
}

.slide__text {
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;

  margin: 15px 0 32px;
  padding: 0;

  color: #FFFFFF;
}

.slide--1 {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.43) 40.45%, rgba(0, 0, 0, 0) 100%), 
              url("../img/slide1.png") no-repeat 0 -76px / cover;
}

.slide--2 {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.43) 40.45%, rgba(0, 0, 0, 0) 100%), 
              url("../img/slide2.png") no-repeat 0 0 / cover;
}

.slide--3 {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.43) 40.45%, rgba(0, 0, 0, 0) 100%), 
              url("../img/slide3.png") no-repeat 0 -90px / cover;
}


.promo {
  display: flex;
  flex-wrap: wrap;
  margin: -27px;
  margin-top: 50px;
}


.card {
  color: white;
  border-radius: 20px;

  min-height: 380px;
  padding: 32px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3))
}

.promo__card {
  margin: 27px;
  flex-grow: 1;
}

.card__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 23px;

  margin: 0;
}

.card__description {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;

  margin: 0;
  margin-top: 21px;
  max-width: 168px;
}

.card__price {
  font-weight: 500;
  font-size: 24px;
  line-height: 23px;
}

.card__delivery {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;

  margin-top: 8px;
  margin-bottom: 25px;
}

.card__button {
  display: block;
  border-radius: 50px;
}

/* Variants */
.card--sweet {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('../img/promo_sweet_basket.png') no-repeat;
  background-size: cover;
}
.card--minimum {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('../img/promo_minimum.png') no-repeat;
  background-size: cover;
}


.types {
  margin-top: 110px;
}
.types__header {
  margin-bottom: 47px;

  font-weight: 500;
  font-size: 32px;
  line-height: 23px;
  color: #000000;
}
.types__cards {
  display: flex;
  flex-wrap: wrap;
  margin-right: -32px;
  margin-bottom: -30px;
}

.types__card {
  width: 275px;
  height: 182px;
  flex-grow: 1;
  flex-shrink: 0;

  margin-right: 32px;
  margin-bottom: 30px;
  position: relative;

  border-radius: 18px;
  overflow: hidden;
}

.types__card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.types__card-badge {
  position: absolute;
  left: 10px;
  top: 16px;
  border-radius: 30px;
  padding: 5px 10px;

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
}

/* Badges Variants */
.types__card-badge--healthy {
  color: #49494F;
  background: #D0FD89;
}
.types__card-badge--vegetables {
  background: #AEBC41;
}
.types__card-badge--meat {
  background: #B86B78;
}
.types__card-badge--poultry {
  background: #D68334;
}
.types__card-badge--fish {
  background: #CD6255;
}
.types__card-badge--kids {
  color: #49494F;
  background: #FFFDBF;;
}
.types__card-badge--parents {
  color: #49494F;
  background: #F6FDC8;
}
.types__card-badge--holidays {
  color: #49494F;
  background: #FEF7FE;
}


.food-categories {
  margin-top: 100px;
  background-color: #F6F6F6;
  padding: 40px 0 60px;
}
.food-categories__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 23px;
}
.food-categories__tabs {
  list-style: none;
  margin: 0;
  padding: 0;

  margin-top: 50px;

  display: flex;
}
.food-categories__tab {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  cursor: pointer;
}
.food-categories__tab:not(:last-child) {
  margin-right: 58px;
}
.food-categories__tab--active {
  color: #F37321;
}

.food-categories__cards {
  margin-top: 62px;
  margin-right: -37px;
  display: flex;
  flex-wrap: wrap;
}
.food-categories__card {
  margin-right: 37px;
}
.food-card {
  width: 270px;
  background: #FFFFFF;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: hidden;
}
.food-card__image {
  max-width: 100%;
  height: 192px;
}
.food-card__content {
  padding: 21px 27px 21px 23px;
}
.food-card__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  margin: 0 0 13px;
}
.food-card__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  color: #B9B9BE;
  margin-bottom: 36px;
}
.food-card__bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.food-card__price {
  font-weight: 500;
  font-size: 23px;
  line-height: 23px;
  color: #4B4B51;
}
.food-card__weight {
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #AAAAB1;

  margin-top: 5px;
}

.food-categories__more {
  display: block;
  width: 315px;
  margin: 62px auto 0;
}


.benefits {
  padding: 100px 0 202px;
}
.benefits__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 23px;
  
  margin: 0 0 52px;
}
.benefits__cards {
  display: flex;
  margin-right: -37px;
}
.benefits__card {
  max-width: 270px;
  padding: 30px 23px 25px 24px;
  margin-right: 37px;

  background: #FFFFFF;
  border: 1px solid #E9E9E9;
  box-sizing: border-box;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
}
.benefits__card-icon {
  display: block;
  margin: 0 auto;
}
.benefits__card-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #000000;

  margin: 34px auto 13px;
  max-width: 188px;

}
.benefits__card-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #49494F;
}


.footer {
  background: #F6F6F6;
}
.footer__content {
  display: flex;
  align-items: center;
  padding: 44px 0px;
}
.footer__links {
  margin-left: 50px;
  display: flex;
}
.footer__link {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  text-decoration-line: underline;
  color: #000000;
}
.footer__link:not(:last-child) {
  margin-right: 50px;
}
.footer__social {
  margin-left: auto;
}
.social {
  display: flex;
}
.social__link {
  width: 28px;
  height: 28px;
  background: #C4C4C4;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.social__link:not(:last-child) {
  margin-right: 20px;
}
