html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: 'Roboto', sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  max-width: 1196px;
  margin: 0 auto;
}

/* Buttons */
.button {
  border: 1px solid transparent;

  padding: 13px 52px;

  background-color: #FFA871;
  border-radius: 55px;

  font-size: 16px;
  line-height: 23px;
  color: #FFA871;

  cursor: pointer;
}

.button:hover {
  color: #FFA871;
  border-color: #FFA871;
  background-color: white;
}

.button--gray {
  color: #5F5F61;
  background-color: white;
}

.button--gray:hover {
  border-color:#5F5F61;
  color: #5F5F61;
}

.header {
  padding-top: 13px;
  display: flex;
  align-items: center;
}

.logo {
  text-decoration: none;
  min-width: 128px;
}

.logo::after {
  content: "";
  display: block;
  clear: both;
}

.logo__image {
  float: left;
  margin-right: 5px;
}

.logo__text {
  display: block;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #000000;

  padding-top: 8px;
}

.search-form {
  min-width: 620px;

  margin-left: 76px;
  padding: 13px 0 13px 20px;
  
  display: flex;
  align-items: center;
  
  background: rgba(238, 238, 238, 0.71);
  border-radius: 10px;
}
.search-form__input {
  padding: 0;
  width: 100%;

  border: none;
  background-color: transparent;

  font-size: 16px;
  line-height: 23px;
  color: #57565B;
}
.search-form__button {
  border: none;
  background-color: transparent;
  margin-left: auto;
  padding: 0 13px 0 8px;
  
  cursor: pointer;
}
.search-form__button-icon {
  display: block;
}


.header__right {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.header__cart {
  margin-left: 31px;
}

.auth-button {
  padding: 16px 30px;
  background: #EBEBEB;
  border-radius: 50px;

  font-size: 14px;
  line-height: 16px;

  color: #000000;
}

.cart {
  text-decoration: none;

  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #F66A15 url("../img/shopping-cart.svg") no-repeat center;
}
.cart__counter {
  display: block;
  position: absolute;

  right: 0;
  bottom: -4px;

  background: #FFAF19;
  border-radius: 50%;

  padding: 5px;

  font-size: 8px;
  line-height: 8px;

  color: #000000;
}



.promo {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}


.card {
  color: white;
  border-radius: 20px;

  min-height: 380px;
  padding: 32px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3))
}

.promo__card {
  flex-basis: calc(50% - 54px / 2);
}

.promo__card:not(:last-child) {
  margin-right: 54px;
}

.card__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 23px;

  margin: 0;
}

.card__description {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;

  margin: 0;
  margin-top: 21px;
  max-width: 168px;
}

.card__price {
  font-weight: 500;
  font-size: 24px;
  line-height: 23px;
}

.card__delivery {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;

  margin-top: 8px;
  margin-bottom: 25px;
}

.card__button {
  display: block;
  border-radius: 50px;
}

/* Variants */
.card--sweet {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('../img/promo_sweet_basket.png') no-repeat;
  background-size: cover;
}
.card--minimum {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('../img/promo_minimum.png') no-repeat;
  background-size: cover;
}
